@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fredoka:wght@300..700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-normal: 'Manrope', 'sans-serif';

  --color-button:  #30E8AB;
  --color-highlight:  #4F9680;
  
}